@import "../../assets/styles/colors";
$setting-background: lighten($secondary-color, 50%);

.icon-active {
  background:  #ffffff url("../../assets/progress-active.svg") no-repeat center;
}
.icon-complete {
  background:  #ffffff url("../../assets/progress-complete.svg") no-repeat center;
}

.icon-canceled {
  background:  #ffffff url("../../assets/progress-canceled.svg") no-repeat center;
}


.add-task {
  margin: 50px auto;
  display: flex;
  justify-content: center;

  input.task-name {
    height: 56px;
    width: 300px;
    border: 2px solid $primary-color;
    border-radius: 3px;
    border-right: none;
    margin-right: 0;
    padding-left: 12px;
    font-size: 25px;
    color: $secondary-color !important;

  }
  input.task-name:focus {
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 $ternary-color;
    border: 1px solid $ternary-color;

  }

  input.task-name::-webkit-input-placeholder, input.task-name::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    line-height: 1.33;
    color: #6c6c6c;
  }

  input.task-name::-webkit-input-placeholder, input.task-name::-moz-placeholder { /* Firefox 19+ */
    line-height: 1.33;
    color: #6c6c6c;
  }

  input.task-name::-webkit-input-placeholder, input.task-name:-ms-input-placeholder { /* IE 10+ */
    line-height: 1.33;
    color: #6c6c6c;
  }

  input.task-name::-webkit-input-placeholder, input.task-name:-moz-placeholder { /* Firefox 18- */
    line-height: 1.33;
    color: #6c6c6c;
  }
  button.add {
    height: 56px;
    width: 50px;
    border: 2px solid $primary-color;
    cursor: pointer;
    background: $inset-color  url("../../assets/add.svg") no-repeat center;
    &:hover {
      background: $primary-color  url("../../assets/add-hover.svg") no-repeat center;
    }
    &:disabled {
      border: 2px solid grey;
      cursor: not-allowed;
      background: #ffffff  url("../../assets/add-disabled.svg") no-repeat center;

    }
  }


}
.task-list {
  .title {
    font-size: 34px;
    font-weight: 300;
  }
  span.col  {
    width: 20%;

  }
   button.start {
    height: 30px;
    width: 30px;
    border: 2px solid $primary-color;
    cursor: pointer;
    background: $inset-color  url("../../assets/play.svg") no-repeat center;
    &:hover {
      background: $primary-color  url("../../assets/play-hover.svg") no-repeat center;
    }
    &:disabled {
      border: 2px solid grey;
      cursor: not-allowed;
      background: #ffffff  url("../../assets/play-disabled.svg") no-repeat center;

    }
  }
  .status-menu {
    display: none;
    border: 2px solid $primary-color !important;
  }
}
.chart-container {
  height: 100vh;
}
