<md-tab-group>
  <md-tab label="Tasks">
<div class="add-task">
  <input type="text" class="task-name" placeholder="Enter Task Name" [(ngModel)]='taskName'>
  <button class="add" [disabled]="!taskName" (click)="addTask(taskName)"></button>
</div>
<md-list class="task-list">
  <label md-subheader class="title">Tasks</label>
  <md-list-item *ngFor="let task of tasks">
    <span md-list-icon [ngClass]="getIconClass(task.status)" class="icon-active col"> </span>
    <span class="col">{{task.name | titlecase}}</span>
    <span class="col"> {{task.sessionCt}}(sessions) </span>
    <span class="col"> {{task.lastActivity | date}} </span>
    <span class="col" [mdMenuTriggerFor]="statusMenu">
      <button md-icon-button >
       <md-icon>more_vert</md-icon>
     </button>
    </span>
    <md-menu [classList]="'statusMenu'" #statusMenu="mdMenu">
      <button md-menu-item (click)="startTask(task.id, task)" *ngIf="task.status !== taskStatus.CANCELED"> Start </button>
      <button md-menu-item (click)="completeTask(task.id, task)"> Complete </button>
      <button md-menu-item (click)="cancelTask(task.id, task)"> Cancel </button>
      <button md-menu-item (click)="removeTask(task.id)"> Delete </button>
    </md-menu>
  </md-list-item>
</md-list>
  </md-tab>
  <md-tab label="Analysis">
    <div class="row chart-container">
      <app-session-count-chart [tasks]="tasks"></app-session-count-chart>
    </div>
  </md-tab>
</md-tab-group>

