@import "../../assets/styles/colors";
@import "../../assets/styles/button";
$circle-size: 400px;
$circle-background: lighten($primary-color, 50%);
$circle-color: $primary-color;
$inset-size: 350px;
$inset-color: #fbfbfb;
$transition-length: 1s;


.clock-container{
  background-color: $inset-color;
  width: 60%;

  margin: auto;
  .ko-progress-circle {
    margin: 20px auto;
    width:  $circle-size;
    height: $circle-size;
    background-color: $circle-background;
    border-radius: 50%;
    &.break-timer {
      .ko-progress-circle__slice {
        clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
        .ko-progress-circle__fill {
          clip: rect(0px, $circle-size/2, $circle-size, 0px);
          background-color: yellow;
        }
      }

    }
    &.not-started {
      background-color: lighten(grey, 20%);
      color: grey !important;
      .ko-progress-circle__overlay {
        color: grey !important;

      }
    }
    .ko-progress-circle__slice, .ko-progress-circle__fill {
      width:    $circle-size;
      height:   $circle-size;
      position: absolute;
      -webkit-backface-visibility: hidden;
      transition: transform $transition-length;
      border-radius: 50%;
    }
    .ko-progress-circle__slice {
      clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
      .ko-progress-circle__fill {
        clip: rect(0px, $circle-size/2, $circle-size, 0px);
        background-color: $circle-color;
      }
    }
    .ko-progress-circle__overlay {
      width:       $inset-size;
      height:      $inset-size;
      position:    absolute;
      margin-left: ($circle-size - $inset-size)/2;
      margin-top:  ($circle-size - $inset-size)/2;
      background-color: $inset-color;
      border-radius: 50%;
      text-align: center;
      color: $secondary-color;
      .paused-icon {
        font-size: 200px;
        position: absolute;
        bottom: 72px;
        right: 72px;
        color: $secondary-color;
        opacity: 0.5;
      }

      .counter {
        margin-top: 55px !important;
        font-size: 75px;
        display: inline-block;
      }
      .session-label {
        margin-top: 62px;
        font-size: 52px
      }
    }

    $i: 0;
    $increment: 180deg / 100;
    @while $i <= 100 {
      &[data-progress='#{$i}'] {
        .ko-progress-circle__slice.full, .ko-progress-circle__fill {
          transform: rotate($increment * $i);
        }
        .ko-progress-circle__fill.ko-progress-circle__bar {
          transform: rotate($increment * $i * 2);
        }
        $i: $i + 1;
      }
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    .pom-btn {
      text-transform: uppercase;
      &.pause {
        margin-right: 50px;
      }
      &.reset {
        margin-left: 50px;
      }
    }
  }
}

