
<div class="container welcome-dialog">
  <md-horizontal-stepper>
    <md-step>
      <ng-template mdStepLabel>Introduction</ng-template>
      <h3 class="title"><span class="title-focus">What is</span> Pomodoro</h3>
      <div class="what-is">
         The Pomodoro Technique can help you power through distractions, hyper-focus, and get things done in short bursts,
         while taking frequent breaks to come up for air and relax. Best of all, it's easy. If you have a busy job where you're expected to produce,
         it's a great way to get through your tasks. Let's break it down and see how you can apply it to your work.

         <br>
         The Pomodoro Technique was invented in the early 90s by developer, entrepreneur, and author Francesco Cirillo.
         Cirillo named the system "Pomodoro" after the tomato-shaped timer he used to track his work as a university student.
         The methodology is simple: When faced with any large task or series of tasks, break the work down into short,
         timed intervals (called "Pomodoros") that are spaced out by short breaks. This trains your brain to focus for short periods and helps you stay on top of deadlines or constantly-refilling inboxes.
         With time it can even help improve your attention span and concentration.
         <br>
         Pomodoro is a cyclical system. You work in short sprints , which makes sure you're consistently productive.
         You also get to take regular breaks that bolster your motivation and keep you creative.
       </div>
      <div class="step-nav">
        <button md-button mdStepperPrevious type="button" class="primary prev-btn">Back</button>
        <button md-button mdStepperNext type="button" class="primary">Next</button>
      </div>
    </md-step>
    <md-step>
      <ng-template mdStepLabel>Instruction</ng-template>
      <h3 class="title"><span class="title-focus">How To</span> Pomodoro</h3>
      <md-list class="how-to">
        <md-list-item>1. Create/choose a task to be accomplished. </md-list-item>
        <md-list-item>2. Set the Pomodoro session length  (the Pomodoro is the timer), usually 25 minutes </md-list-item>
        <md-list-item>3. Work on the task until the Pomodoro rings </md-list-item>
        <md-list-item>4. Take a short break (5 minutes is OK) </md-list-item>
        <md-list-item>5. Every 4 Pomodoros take a longer break </md-list-item>
        <md-list-item>6. Set task status to complete when task is finished </md-list-item>

      </md-list>
      <div class="step-nav">
        <button md-button mdStepperPrevious id="prev-btn" type="button" class="primary">Back</button>
        <button md-button mdStepperNext id="next-btn" type="button" class="primary">Next</button>
      </div>
    </md-step>
    <md-step>
      <ng-template mdStepLabel>Login</ng-template>
      <h3 class="title"><span class="title-focus">Start To</span> Pomodoro</h3>
      <app-login></app-login>
      <div class="step-nav">
        <button md-button mdStepperPrevious type="button" class="primary">Back</button>
      </div>
    </md-step>
  </md-horizontal-stepper>
</div>
