@import "../assets/styles/colors";
@import "../assets/styles/button";
.container {
  height: 150%;
  width: 85%;
  background-color: #fbfbfb;
  margin: 0 auto;
  font-family: 'Encode Sans Expanded', sans-serif;
  text-align: center;

  .curr-user {
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: capitalize;
    border-bottom: 2px solid $primary-color;
    padding: 5px;
    img {
      border-radius: 19px;
    }
    .material-icons {
      font-size: 36px;

    }
    span {
      color: $ternary-color;
     // vertical-align: super;
      font-size: 23px;
    }
  }
  .logout {
    position: absolute;
    top: 10px;
    right: 10px;
    button {

      &.highlight-login-btn {

      }
      &:hover:not(:disabled) {
        background-color: $primary-color;
        color: $inset-color;
        padding: 2px;
        background-clip: content-box;
      }
      &:active {
        background-color: $ternary-color;
        color: $inset-color;
      }
    }

  }

  .title {
    font-size: 50px;
    font-weight: bold;
    color: $primary-color;
    padding: 5px;
  }
  .show-list {
    top: 90px;
    position: absolute;
    left: 100px;
    cursor: pointer;
    z-index: 1000;
    &.disable-task-view {
     i {
       color: $disabled;
       cursor: not-allowed;
     }
    }
    i {
      font-size: 50px;
      color: $primary-color;
    }
  }
  .hide-list {
    top: 90px;
    position: absolute;
    left: 475px;
    cursor: pointer;
    i {
      font-size: 50px;
      color: $primary-color;
      cursor: pointer;

    }
  }
  .task-container {
    height: 100%;
    border-right: 1px solid rgba(0,0,0,.54);
    top: 160px;
  }
}


.dialog-backdrop {
  opacity: 0.9 !important;
}

