<div class="container">
  <div class="curr-user" *ngIf="user && !user?.isAnonymous">
    <img src="{{user?.photoURL}}" alt="" width="40"> <span>{{user?.displayName}}</span>
  </div>
  <div class="curr-user" *ngIf="user && user?.isAnonymous">
     <span>Anonymous</span>
  </div>
  <div class="logout">
    <button md-button (click)="logout()" *ngIf="user" class="primary"><i class="material-icons">exit_to_app</i>Logout</button>
    <button id="loginBtn" md-button (click)="login()" *ngIf="!user" class="primary"><i class="material-icons">lock_open</i>login</button>

  </div>
  <label class="title app-title">POMODORO</label>
  <span class="show-list" [ngClass]="{'disable-task-view': !user}"  (click)="showTaskView()">
        <i class="material-icons"  *ngIf="!showtasks">list</i>
      </span>
  <span class="hide-list"  (click)="showtasks = false">
        <i class="material-icons" *ngIf="showtasks">arrow_back</i>
      </span>
  <div class="row">
    <div class="col-7 task-container"  *ngIf="showtasks">

      <app-tasks></app-tasks>
    </div>
    <div [ngClass]="{'col-5': showtasks, 'col-12': !showtasks }">
      <app-settings></app-settings>
      <app-clock></app-clock>
    </div>
  </div>
</div>


