.ctrl {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D5DCE6;
  border-top: 1px solid #D5DCE6;
  background-color: #fff;
  border-radius: 5px;
  font-size: 30px;
  width: 227px;

}

.ctrl__counter {
  position: relative;
  width: 80px;
  height: 40px;
  color: #333C48;
  text-align: center;
  overflow: hidden;
  &.is-input {
    .ctrl__counter-num {
      visability: hidden;
      opacity: 0;
      transition: opacity 100ms ease-in;
    }
    .ctrl__counter-input {
      visability: visible;
      opacity: 1;
      transition: opacity 100ms ease-in;
    }
  }
}

.ctrl__counter-input {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  box-shadow: none;
  outline: none;
  border: none;
  color: #333C48;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  visability: hidden;
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.ctrl__counter-num {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 40px;
  visability: visible;
  opacity: 1;
  transition: opacity 1000ms ease-in;
  &.is-increment-hide {
    opacity: 0;
    transform: translateY(-50px);
    animation: increment-prev 100ms ease-in;
  }
  &.is-increment-visible {
    opacity: 1;
    transform: translateY(0);
    animation: increment-next 100ms ease-out;
  }
  &.is-decrement-hide {
    opacity: 0;
    transform: translateY(50px);
    animation: decrement-prev 100ms ease-in;
  }
  &.is-decrement-visible {
    opacity: 1;
    transform: translateY(0);
    animation: decrement-next 100ms ease-out;
  }
}

.ctrl__button {
  width: 75px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: black;
  transition: background-color 100ms ease-in;
  &:hover {
    background-color: #90a2b0;
    transition: background-color 100ms ease-in;
  }
  &:active {
    background-color: #778996;
    transition: background-color 100ms ease-in;
  }
}

.ctrl__button--decrement {
  border-radius: 5px 0 0 5px;
}

.ctrl__button--increment {
  border-radius: 0 5px 5px 0;
}

@keyframes decrement-prev {
  from {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes decrement-next {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
}


@keyframes increment-prev {
  from {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes increment-next {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
}
