@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/styles/colors";
html, body {
  height: 100%;
  width: 100%;
  background-color: $primary-color;
  -webkit-font-smoothing: antialiased;

}


