@import "colors";
button.primary {
  border: 1px solid $primary-color;
  width: 140px;
  height: 50px;
  background-color: #fff;
  font-size: 20px;
  outline: none;
  color: $secondary-color;
  cursor: pointer;
  box-shadow: 0 2px 0 black, 2px 4px 6px black;
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
  &:active {
    background-color: $ternary-color !important;
    opacity: 0.7;
    color: #fff;
  }
  &:hover:not(:disabled) {
    background-color: $primary-color;
    color: $inset-color;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(grey, .2);
    text-decoration: none;
    text-shadow: -1px -1px 0 lighten(black, 9.5%);
    transition: all 250ms linear;
  }
  &:disabled {
    background-color: #ffffff;
    color: grey;
    border: 2px solid grey;
    cursor: not-allowed;
  }
  &.xxl {
    width: 60%;
    height: 68px;
    .material-icons {
      font-size: 36px !important;
    }
  }

  &.highlight-btn {
    @keyframes pulse_animation {
      0% { transform: scale(1); }
      30% { transform: scale(1); }
      40% { transform: scale(1.18); }
      50% { transform: scale(1); }
      60% { transform: scale(1); }
      70% { transform: scale(1.15); }
      80% { transform: scale(1); }
      100% { transform: scale(1); }
    }
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 4px solid $ternary-color;
  }
}
