@import "../../assets/styles/colors";
$setting-background: lighten($primary-color, 50%);
$inset-color: #fbfbfb;


.settings-container {
  font-size: 25px;
  //background-color: $setting-background;
  width: 60%;
  margin: auto;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding-top: 18px;
  text-align: center;
  .cur-task {
    border: 2px solid $primary-color;
    border-radius: 3px;
    height: 50px;
    width: 350px;
    text-align: center;
    margin: 10px auto;
    padding: 4px;
    text-transform: capitalize;
    color: $secondary-color;
    font-weight: bold;

}

  .settings {
    margin: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .bl-settings, .sl-settings {
      display: flex;
      flex-direction: column;
      .title {
        margin-bottom: 15px;
        color: $secondary-color;
      }
      .toggle-wrapper {
        display: flex;

        button.minus, button.plus {
          width: 80px;
          height: 45px;
          border: 2px solid $primary-color;
          cursor: pointer;
          outline: none;
          &:active {
            background-color: $ternary-color !important;
          }
        }
        button.plus {
          border-left: none;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          cursor: pointer;
          background: $inset-color  url("../../assets/add.svg") no-repeat center;
          &:hover {
            background:  $primary-color url("../../assets/add-hover.svg") no-repeat center;
          }
        }
        button.minus {
          border-right: none;
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
          background: $inset-color  url("../../assets/remove.svg") no-repeat center;
          &:hover {
            background:  $primary-color url("../../assets/remove-hover.svg") no-repeat center;
          }
        }
        label.s-value {
          margin: 0;
          width: 100%;
          height: 45px;
          border: 2px solid $primary-color;
          font-size: 34px;
          color: $secondary-color;
          outline: none;
          background: $inset-color;
        }

      }

      div{
        .material-icons {
          cursor: pointer;
          color: $inset-color;
        }

      }
    }
    .bl-settings {
      margin-right: 60px;
    }
  }

}
